* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: darkgray;
  height: 100vh;
}
.container {
  display: grid;
  min-height: 100vh;
  grid-template-columns: 1fr 2fr 1fr 1fr;
  grid-auto-rows: minmax(310px, auto);
  gap: 10px 15px;
}

.itens {
  display: flex;
  background-color: white;
  border: 2px solid black;
  font-size: 30px;
  padding: 10px;
}
